/* #region Hero */

.heroSection {
  padding: 32px;
  padding-top: 144px;
  padding-bottom: 72px;
  position: relative;
}

@media (max-width: 400px) {
  .heroSection {
    padding: 24px;
    padding-bottom: 32px;
    padding-top: 64px;
  }
}

.heroBackgroundImage {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-position: 50% 0;
  background-size: cover;
  filter: saturate(12.5%) brightness(127%) contrast(140%);
}

.heroBackgroundOverlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: var(--color-overlay-image-overlay);
}

.heroContent {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heroLogo {
  padding-bottom: 48px;
}

.heroTitle {
  padding-bottom: 24px;
}

.heroTagline {
  max-width: 428px;
  text-align: center;
}

/* #endregion */

/* #region Signup */

.signupSection {
  padding: 72px 32px;
  background-color: var(--color-surface-full);
}

@media (max-width: 400px) {
  .signupSection {
    padding: 32px 24px;
  }
}

.signupContent {
  position: relative;
  margin: 0 auto;
  max-width: 428px;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto auto auto auto;
}

.signupTitle {
  text-align: center;
  padding-bottom: 8px;
}

@media (max-width: 400px) {
  .signupTitle {
    text-align: left;
  }
}

.signupSubtitle {
  padding-bottom: 16px;
}

/* #endregion */

/* #region Cta */

.ctaSection {
  background-color: var(--color-primary-full);
  padding: 40px 0;
  position: relative;
}

.ctaBackgroundImage {
  opacity: 0.1;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  filter: saturate(0%) brightness(126%) contrast(168%);
}

.ctaBackgroundOverlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #fff;
  opacity: 0.25;
}

.ctaContent {
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  grid-column-gap: 64px;
  max-width: 1024px;
  margin: 0 auto;
}

/* #endregion */

/* #region Updates */

.updatesSection {
  background-color: var(--color-surface-full);
  padding: 72px 32px;
}

.updatesContent {
  margin: 0 auto;
  max-width: 1024px;
}

.updatesHeader {
  padding: 0 32px;
  padding-bottom: 16px;
}

.updatesList {
  padding-bottom: 32px;
}

.updatesViewAll {
  display: flex;
  justify-content: center;
}

/* #endregion */

/* #region Events */

.eventsSection {
  position: relative;
  padding: 72px 32px;
}

.eventsBackgroundImage {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-position: 50% 0;
  background-size: cover;
  filter: saturate(12.5%) brightness(127%) contrast(140%);
}

.eventsBackgroundOverlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(18,18,18,0.87);
}

.eventsContent {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
}

.eventsHeader {
  padding: 0 32px;
  padding-bottom: 16px;
}

.eventsList {
  padding-bottom: 32px;
}

.eventsViewAll {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #endregion */

/* #region Follow */

.followSection {
  background-color: var(--color-surface);
  padding: 72px 32px;
}

.followContent {
  max-width: 1024px;
  margin: 0 auto;
}

.followSignup {

}

.followTitle {
  padding-left: 32px;
}

/* #endregion */