.button {
  border-radius: 4px;
  border: 1px solid var(--color-on-surface-resting-border);
  padding: 6px 14px;
  height: 36px;
  background: none;
  cursor: pointer;
  text-decoration: none;
  min-width: 96px;
  display: inline-block;
  text-align: center;
}