:global(body) {
  margin: 0;
  box-sizing: border-box;
}

:global(*) {
  box-sizing: inherit;
}

.container {
  font-family: Source Sans Pro;
}

:global(:root) {
  --color-surface: rgba(245,245,245,1);
  --color-primary: rgba(255,233,99,1);
  --color-on-surface: rgba(0,0,0,1);
  --color-on-primary: rgba(0,0,0,1);
  --color-on-overlay: rgba(255,255,255, 1);
  --color-surface-full: rgba(245,245,245,1);
  --color-primary-full: rgba(255,233,99,1);
  --color-overlay-image-overlay: rgba(18,18,18,0.87);
  --color-on-surface-high-emphasis: rgba(0,0,0,0.87);
  --color-on-surface-medium-emphasis: rgba(0,0,0,0.6);
  --color-on-surface-low-emphasis: rgba(0,0,0,0.38);
  --color-on-surface-resting-border: rgba(0,0,0,0.12);
  --color-on-surface-divider: rgba(0,0,0,0.12);
  --color-on-overlay-high-emphasis: rgba(255,255,255,0.87);
  --color-on-overlay-medium-emphasis: rgba(255,255,255,0.6);
  --color-on-overlay-divider: rgba(255,255,255,0.12);
  --color-on-overlay-resting-border: rgba(255,255,255,0.12);
  --color-on-primary-high-emphasis: rgba(0,0,0,0.87);
  --color-on-primary-medium-emphasis: rgba(0,0,0,0.6);
  --color-on-primary-low-emphasis: rgba(0,0,0,0.38);
  --color-on-primary-resting-border: rgba(0,0,0,0.12);
  --color-on-primary-divider: rgba(0,0,0,0.12);
  --opacity-high-emphasis: 0.87;
  --opacity-medium-emphasis: 0.6;
  --opacity-low-emphasis: 0.38;
}