@font-face {
  font-family: 'Redacted';
  src: url('/fonts/BLOKKNeue-Regular.woff2') format('woff2');
}

.text {

}
.text.blocked {
  font-family: 'Redacted';
  letter-spacing: -1.2em;
  text-shadow: currentColor 0px 0px;
  font-size-adjust: 1;
}

.h2 {
  font-size: 60px;
  letter-spacing: -0.5px;
  font-weight: 700;
  text-transform: uppercase;
}

.h4 {
  font-size: 34px;
  letter-spacing: 0.25px;
  font-weight: 700;
  text-transform: uppercase;
}

.h5 {
  font-size: 24px;
  letter-spacing: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.h6 {
  font-size: 20px;
  letter-spacing: 0.15px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle1 {
  font-size: 16px;
  letter-spacing: 0.15px;
}

.subtitle2 {
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 700;
}

.body1 {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.body2 {
  font-size: 14px;
  letter-spacing: 0.25px;
}

.button {
  font-size: 14px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-weight: 700;
}

.caption {
  font-size: 12px;
  letter-spacing: 0.4px;
}

.overline {
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.paragraph {
  margin: 0;
}

.raw p {
  margin: 0;
}

.raw p + p {
  margin-top: 0.75em;
}

