.event {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-flow: column;
  min-height: 341px;
  padding: 16px 0;
  border-bottom: 1px solid var(--color-on-overlay-divider);
}

.event:last-child {
  border-bottom: 0;
}

.eventDetails {
  padding: 24px 32px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto 1fr auto;
  grid-auto-flow: compact;
  grid-row-gap: 16px;
  grid-column-gap: 8px;
}

.eventTitle {
  grid-column: 1 / -1;
}

.eventButton {
  grid-column: 1 / -1;
  padding-top: 8px;
}