.container {

}

.container :global(#can_embed_form_inner h2) {
  display: none;
}
.container :global(#can_embed_form_inner h4) {
  display: none;
}
.container :global(#action_welcome_message) {
  border: 1px solid var(--color-on-surface-resting-border);
  padding: 16px;
  margin-bottom: 16px;
}
.container :global(#action_welcome_message_inner .left div:first-child) {
  font-size: 16px;
  letter-spacing: 0.15px;
  padding-bottom: 8px;
}
.container :global(#action_welcome_message_inner small) {
  font-size: 14px;
  letter-spacing: 0.25px;
  color: var(--color-on-surface-medium-emphasis);
}
.container :global(#action_welcome_message_inner small a) {
  color: var(--color-on-surface-medium-emphasis);
}
.container :global(.form_builder_output) {
  list-style: none;
}
.container :global(input[type="submit"]) {
  border: 0;
  outline: 0;
  background-color: var(--color-primary);
  color: var(--color-on-primary-medium-emphasis);
  font-size: 14px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 9px 14px;
  height: 36px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
  cursor: pointer;
}
.container :global(input[type="submit"]:hover) {
  color: var(--color-on-primary-high-emphasis);
}
.container :global(#d_sharing) {
  padding-top: 8px;
}
.container :global(#d_sharing ul) {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container :global(#d_sharing label) {
  font-size: 14px;
  letter-spacing: 0.25px;
  color: var(--color-on-surface-medium-emphasis);
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.container :global(#d_sharing input[type="checkbox"]) {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  display: inline-block;
  outline: 0;
  margin: 0;
  margin-right: 12px;
}
.container :global(#d_sharing input[type="checkbox"]:before) {
  box-sizing: border-box;
  font-family: Material Icons;
  content: 'check_box_outline_blank';
  font-size: 24px;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  margin-top: -8px;
  margin-left: -8px;
  color: var(--color-on-surface-medium-emphasis);
}
.container :global(#d_sharing input[type="checkbox"]:checked:before) {
  content: 'check_box';
}
.container :global(#d_sharing input[type="checkbox"]:focus:before),
.container :global(#d_sharing input[type="checkbox"]:active:before) {
  color: var(--color-on-surface-high-emphasis);
  background-color: var(--color-on-surface-resting-border);
}
.container :global(#action_info) {
  display: none;
}
.container :global(#logo_wrap) {
  display: none;
}
.container :global(.ajax-loading) {
  display: none;
}
.container :global(.core_field) {
  list-style: none;
  padding-bottom: 16px;
}
.container :global(.core_field label)  {
  display: none !important;
}
.container :global(.core_field input[type="email"])  {
  height: 54px;
  border: 1px solid var(--color-on-surface-resting-border);
  padding: 16px;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.15px;
  width: 100%;
  display: block;
  border-radius: 4px;
  outline: 0;
  color: var(--color-on-surface-high-emphasis);
}
.container :global(.core_field input[type="email"]:focus)  {
  border-color: var(--color-on-surface-high-emphasis);
}
.container :global(.core_field input[type="email"]::placeholder)  {
  color: var(--color-on-surface-medium-emphasis);
}
.container :global(.ajax_error) {
  font-size: 14px;
  letter-spacing: 0.25px;
  color: rgba(176, 0, 32, 1);
  margin: 0;
  padding-top: 8px;
}
.container :global(.international_link-wrap) {
  display: none !important;
}
.container :global(.country_drop_wrap) {
  display: none;
}
.container :global(#can_thank_you h1) {
  padding-top: 16px;
  margin: 0;
  padding-bottom: 8px;
  font-size: 20px;
  letter-spacing: 0.15px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-on-surface-high-emphasis);
}
.container :global(#action_thank_you_text p) {
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: var(--color-on-surface-medium-emphasis);
}