.update {
  padding: 16px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid var(--color-on-surface-divider);
  grid-auto-flow: column;
}
.update:last-child {
  border-bottom: 0;
}

.updateImage {
  height: 100%;
}

.updateFlipped .updateImage {
  grid-column: 2;
}

.updateDetails {
  padding: 16px 24px;
}

.updateFlipped .updateDetails {
  grid-column: 1;
}

.updateByline {
  padding-bottom: 16px;
}

.updateSummary {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--color-on-surface-divider);
  margin-bottom: 16px;
}

.updateCategoriesHeader {
  padding-bottom: 8px;
}

.updateCategories {
  display: flex;
  padding-bottom: 24px;
  flex-wrap: wrap;
}

.updateCategory {
  height: 32px;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--color-on-surface-divider);
  margin-right: 8px;
}
